.drawer_bg_opac {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--color-opac);
}

.drawer_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  padding: 15px;
}

.drawer {
  max-width: 1280px;
  margin: 0 auto;
}

.header_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header_container p {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 0.85rem;
  color: var(--color-black);
}

.icon {
  color: var(--color-black);
  width: 25px;
}

.form_container {
  margin: 30px 0;
  box-shadow: var(--soft-shadow);
  border-radius: 16px;
  background-color: #fff;
}

.form_field {
  padding: 15px 30px;
}

.form_field_border {
  border: none;
}

.form_field label {
  display: block;
  margin-bottom: 5px;
  font-family: var(--font-secondary);
  font-weight: 800;
  color: var(--color-black);
  font-size: 0.7rem;
}

.form_field input,
.form_field span {
  color: var(--color-black);
  font-size: 0.95rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  width: 100%;
  outline: none;
}

.form_field input:disabled {
  background-color: #fff;
}

.border {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-000);
}

.location_select {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  font-family: var(--font-secondary);
  color: var(--color-black);
  font-weight: 400;
  margin-bottom: 30px;
  cursor: pointer;
}

.location_select:last-child {
  margin-bottom: 0;
}

.location_icon {
  width: 30px;
}

.button {
  background-color: var(--color-primary);
  border-radius: 16px;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: #fff;
  margin: 60px auto 0;
  cursor: pointer;
}

.button_icon {
  width: 25px;
  color: #fff;
}

.form_field_visibility {
  display: none;
}

.border_visibility {
  display: none;
}

.button_visibility {
  display: flex;
}

@media all and (min-width: 1024px) {
  .drawer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
  }

  .header_container {
    display: none;
  }

  .form_container,
  .location_container,
  .guests-container {
    width: 100%;
  }

  .form_container {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    align-items: center;
    margin: 0 auto 40px;
  }

  .guests_container {
    grid-column: 2 / 3;
  }

  .form_field {
    padding: 10px 30px;
    height: 100%;
  }

  .form_field_border {
    border-radius: 16px;
    border: 1px solid var(--color-black);
  }

  .border {
    width: 1px;
    height: 100%;
  }

  .button {
    padding: 10px 25px;
    margin: 0 auto 0;
  }

  .form_field_visibility {
    display: block;
  }

  .border_visibility {
    display: block;
  }

  .button_visibility {
    display: none;
  }
}
